---
import LinkedIn from "../icons/LinkedIn.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import Mail from "../icons/Mail.astro";
---

<div
    class="ml-2 flex gap-x-20 mb-32 mt-8 justify-center items-center text-center">
    <ul>
        <li class="mb-2 hover:scale-125 transition">
            <a
                href="https://www.linkedin.com/in/miguel-guerrero-52987615a/"
                target="_blank"
                rel="noopener noreferrer"><LinkedIn class="size-8 ml-6" /></a
            >
        </li>
        <li class="mb-2 text-2xl text-red-300/90">LinkedIn</li>
        <li class="text-xl hover:scale-110 transition">
            <a
                href="https://www.linkedin.com/in/miguel-guerrero-52987615a/"
                target="_blank"
                rel="noopener noreferrer">Profile</a
            >
        </li>
    </ul>
    <ul>
        <li class="mb-2">
            <a href="tel:+584128095403"
                ><Whatsapp class="size-9 ml-16 hover:scale-125 transition" /></a
            >
        </li>
        <li class="mb-2 text-2xl text-red-300/90">Phone</li>
        <li class="text-xl hover:scale-110 transition">
            <a href="tel:+584128095403">+58 412-809-5403</a>
        </li>
    </ul>
    <ul>
        <li class="mb-2 hover:scale-125 transition">
            <a href="mailto:miguel.dev.cloud@gmail.com"
                ><Mail class="size-8 ml-[5.4rem]" /></a
            >
        </li>
        <li class="mb-2 text-2xl text-red-300/90">Email</li>
        <li class="text-md hover:scale-125 transition">
            <a href="mailto:miguel.dev.cloud@gmail.com"
                >miguel.dev.cloud@gmail.com</a
            >
        </li>
    </ul>
</div>
